.about{
    display: flex;
    margin: auto;
}
.about-img{
    width: 350px;
    margin: 0 50px;
}
.about-text{
    margin-top: 20px;
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
}
.about-content-text{
    line-height: 40px;
    columns: 1 50px;
    font-size: 20px;
    color: #5F5F5F;
    row-gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 10%);
    border-bottom: 1px solid #f5f5f5;
}
.btn{
    background-color: var(--buttons-color);
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px var(--buttons-color) solid;
    color: white;
    text-decoration: none;
}
.about-info{
    margin-bottom: 50px;
    display: flex;
}
.about-info span{
    color: gray;
}
.about-info-line{
    margin-top: 10px;
}
.about-info-right{
    margin-left: 100px;
}
