html{
    scroll-behavior: smooth;
}
body,
body * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    vertical-align: top;
}
:root {
    --base-nav-color: white;
    --secondary-nav-color: blueviolet;
    --main-title-color: #634495;
    --buttons-color: #634495;
}
