.header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 calc(50% - 550px);
}
@media (max-width: 1100px) {
    .hero > .header {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
}
@media (max-width: 900px) {
    .hero > .header {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}
@media (max-width: 700px) {
    .hero > .header {
        text-align: center;
        width: 400px;
        margin: 0 calc(50% - 200px);
    }
}
@media (max-width: 460px) {
    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero > .header {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0;

    }
}
.hero{
    background-image: url("../../img/header.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:inset 0 0 0 2000px rgba(12, 1, 8, 0.692);
}
.logo {
    width: 100px;
    padding-right: 20px;
}
.navigation {
    text-decoration: none;
    margin-right: 30px;
    color: var(--base-nav-color);
}
.navigation:first-child {
    color: var(--secondary-nav-color);
}
.navigation:hover {
    transition: 1s;
    color: var(--secondary-nav-color);
}

.hero-content {
    padding-top: 200px;
    text-align: center;
    color: white;
}
.hero-wellcome {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: lighter;
}
.hero-title{
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}
.typewrite{
    font-size: 20px;
}
