.hero{
    background-image: url("../../img/header.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:inset 0 0 0 2000px rgba(12, 1, 8, 0.692);
}
.logo {
    width: 100px;
}
.navigation {
    text-decoration: none;
    margin-right: 30px;
    color: var(--base-nav-color);
}
.navigation:first-child {
    color: var(--secondary-nav-color);
}
.navigation:hover {
    transition: 1s;
    color: var(--secondary-nav-color);
}

.hero-content {
    padding-top: 200px;
    text-align: center;
    color: white;
}
.hero-wellcome {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: lighter;
}
.hero-title{
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}
.typewrite{
    font-size: 20px;
}
