.info-stats{
    background-image: url("../../img/client.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:inset 0 0 0 2000px rgba(12, 1, 8, 0.692);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.each-stat{
    padding: 100px 0px;
    margin: 0 10px;

}
.info-icon{
 color: var(--main-title-color);
 margin-bottom: 10px;
 font-size: 30px;
 transition: all 1s;
 
}
.info-numbers{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.info-text{
    color: gainsboro;
    font-size: 20px;
    text-transform: uppercase;

}
.info-icon:hover{
    font-size: 35px;
}
@media (max-width: 600px) {
    .info-stats {
        display: inline-block;
    }
}