.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-end;
}
.form input,
.form textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    line-height: 20px;
    padding: 10px 0;
    font-size: 18px;
}
.form textarea{
    min-height: 60px;
    max-height: 600px;
    height: 100px;
    padding: 10px 0;
    resize: vertical;
}
.form :focus-visible{
    outline: 2px dotted red;
}