/* base */
@import "../base/base.css";
@import "../base/layout.css";
/* 3rd-p */
@import "../3rd-party/font-awesome.min.css";

/* components */
@import "../components/form.css";
@import "../components/progress-bar.css";
@import "../components/main-title.css";
/* customs */


/*start header*/
.header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 calc(50% - 550px);
}
@media (max-width: 1100px) {
    .hero > .header {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
}
@media (max-width: 900px) {
    .hero > .header {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
}
@media (max-width: 700px) {
    .hero > .header {
        text-align: center;
        width: 400px;
        margin: 0 calc(50% - 200px);
    }
}
@media (max-width: 460px) {
    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero > .header {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0;

    }
}
.sticky {
    position: fixed;
    top: 0;
  }
  .navigationScroll {
    text-decoration: none;
    margin-right: 30px;
    color: var(--secondary-nav-color);
}
.navigationScroll:first-child {
    color: var(--base-nav-color);
}

.hero{
    background-image: url("../../img/header.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:inset 0 0 0 2000px rgba(12, 1, 8, 0.692);
}
.logo {
    width: 100px;
    padding-right: 20px;
}
.navigation {
    text-decoration: none;
    margin-right: 30px;
    color: var(--base-nav-color);
}
.navigation:first-child {
    color: var(--secondary-nav-color);
}
.navigation:hover {
    transition: 1s;
    color: var(--secondary-nav-color);
}

.hero-content {
    padding-top: 200px;
    text-align: center;
    color: white;
}
.hero-wellcome {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: lighter;
}
.hero-title{
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}
.typewrite{
    font-size: 20px;
}

/*end header*/

/*start about*/
.about-me{
    padding: 100px 0;
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 calc(50% - 500px);
    box-sizing: border-box;
}

@media (max-width: 1100px) {
    .about {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
    .about-img{
        height: 500px;
    }
    .btn{
        display: inline-block;
        margin-top: 5px;
    }
}
@media (max-width: 800px) {
    .about {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
    .about-content{
        padding: 20px;
        width: 460px;
    }
    .btn{
        display: inline-block;
        margin-top: 5px;
    }
}
@media (max-width: 460px) {
    .about {
        width: 400px;
        margin: 0 calc(50% - 200px);
    }
    .about-content{
        padding: 20px;
        width: 100%;
    }
    .btn{
        display: inline-block;
        margin-top: 5px;
    }
}
.about{
    display: flex;
    margin: auto;
}
.about-img{
    width: 350px;
    margin: 0 50px;
}
.about-text{
    margin-top: 20px;
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
}
.about-content-text{
    line-height: 40px;
    columns: 1 50px;
    font-size: 20px;
    color: #5F5F5F;
    row-gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 10%);
    border-bottom: 1px solid #f5f5f5;
}
.btn{
    background-color: var(--buttons-color);
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px var(--buttons-color) solid;
    color: white;
    text-decoration: none;
}
.about-info{
    margin-bottom: 50px;
    display: flex;
}
.about-info span{
    color: gray;
}
.about-info-line{
    margin-top: 10px;
}
.about-info-right{
    margin-left: 100px;
}

/*end about*/

/*start skills*/
.my-skills{
    background-color: rgb(235, 235, 235);
    width: 100%;
    padding: 100px;
    text-align: center;
    display: inline-block;
}
.progress-bars-style{
    display: flex;
    gap: 30px;
    width: 1100px;
    margin: 50px calc(50% - 550px);
}
.right-column{
    width: 100%;
}
.left-column{
    width: 100%;
}
@media (max-width: 1150px) {
    .progress-bars-style{
        display: inline-block;
        width: 700px;
        margin: 50px calc(50% - 350px)
    }
}
@media (max-width: 800px) {
    .progress-bars-style{
        width: 500px;
        margin: 50px calc(50% - 250px)
    }
}
@media (max-width: 600px) {
    .progress-bars-style{
        width: 300px;
        margin: 50px calc(50% - 150px)
    }
}

/*end skills*/

/*start resume*/
.my-resume{
    width: 100%;
    padding: 100px;
    text-align: center;
    display: inline-block;
}
.list{
   margin-top: 100px;
   display: flex;
   justify-content: center;
   gap: 80px;
}
@media (max-width: 460px) {
   .list {
       display: inline-block;
   }
}
.list-right{
   text-align: left;
   padding-left: 24px;
   border-left: 1px solid grey;
   padding-top: 50px;
}
.list-left{
   text-align: right;
   padding-right: 24px;
   border-right: 1px solid grey;
   padding-top: 50px;
}
.list-bits{
   position: relative;
}
.list-icons{    
   border: 2px solid var(--main-title-color);
   background-color: #484848;
   position: absolute;
   top: -80px;
   border-radius: 50%;
   padding: 10px;
   color: white;
}
.list-icons-left{
   right: -45px;

}
.list-icons-right{
   left: -45px;

}

.dot{
   border: 2px solid goldenrod;
   border-radius: 50%;
   padding: 4px;
   background-color: black;
   position: absolute;
   right: -30px;
}
.dot-right{
   right: auto;
   left: -30px
}
.text-date{
   margin-bottom: 20px;
   font-size: 12px;
}
.text-info{
   margin-bottom: 5px;
   color: var(--main-title-color);
   font-weight: bold;

}
.text-location{
   margin-bottom: 50px;
   font-size: 16px;
   color: gray;

}

/*end resume*/

/*start info*/
.info-stats{
    background-image: url("../../img/client.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:inset 0 0 0 2000px rgba(12, 1, 8, 0.692);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.each-stat{
    padding: 100px 0px;
    margin: 0 10px;

}
.info-icon{
 color: var(--main-title-color);
 margin-bottom: 10px;
 font-size: 30px;
 transition: all 1s;
 
}
.info-numbers{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.info-text{
    color: gainsboro;
    font-size: 20px;
    text-transform: uppercase;

}
.info-icon:hover{
    font-size: 35px;
}
@media (max-width: 600px) {
    .info-stats {
        display: inline-block;
    }
}
/*end info*/

/*start header*/
/*end header*/