/* base */
@import "../base/base.css";
@import "../base/layout.css";
/* 3rd-p */
@import "../3rd-party/font-awesome.min.css";

/* components */
@import "../components/form.css";
@import "../components/progress-bar.css";
@import "../components/main-title.css";
/* customs */


/*start header*/
.head{
    padding: 0;
    height: 50px;
    width: 100%; 
    top: 0;
    left: 0;
    z-index: 2; 
}
.head-fixed{
    position: absolute;
    background-color: transparent; 
}
.logo-img{
    width: 130px;
}
.head-sticky{
    position: fixed; 
    background-color: white;
    transition: 0.2s;
}

.navmenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 50px;
    padding: 1em;
}
.menu{
    display: flex;
    gap: 1em;
    font-size: 16px; 
    position: relative;
    list-style-type: none;

}

.mainlinks{
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin: -2px 0;
    transition: 0.2s;
}
.menu > li:first-child > a{
    color: var(--secondary-nav-color);
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu > li {
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .burgerbg{
        background-color: transparent;
      }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 59px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin:0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      height: 2.5em;
      padding: 0.5em;
      margin: -15px ;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
      .menu-fixed > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;

      }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
    }

  }



/*end header*/
/*start hero*/
.hero{
    background-image: url("../../img/header.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:inset 0 0 0 2000px rgba(12, 1, 8, 0.692);
}
.hero-content {
    padding-top: 250px;
    text-align: center;
    color: white;
}
.hero-wellcome {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: lighter;
}
.hero-title{
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}
.typewrite{
    font-size: 20px;
}
/*end hero*/

/*start about*/
.about-me{
    padding: 100px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width: 1100px) {
    .about {
        width: 800px;
        margin: 0 calc(50% - 400px);
    }
    .about-img{
        height: 500px;
    }
    .btn{
        display: inline-block;
        margin-top: 5px;
    }
}
@media (max-width: 800px) {
    .about {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        width: 600px;
        margin: 0 calc(50% - 400px);
    }
    .about-content{
        padding: 20px;
        width: 460px;
    }
    .btn{
        display: inline-block;
        margin-top: 5px;
    }
}
@media (max-width: 550px) {
    .about {
        width: 400px;
        margin: 0 calc(50% - 255px);
    }
    .about-content{
        padding: 20px;
        width: 100%;
    }
    .btn{
        display: inline-block;
        margin-top: 5px;
    }
}
.about{
    display: flex;
    margin: auto;
}
.about-img{
    width: 350px;
    margin: 0 50px;
}
.about-text{
    margin-top: 20px;
    font-size: 25px;
    color: black;
    letter-spacing: 2px;
}
.about-content-text{
    line-height: 40px;
    columns: 1 50px;
    font-size: 20px;
    color: #5F5F5F;
    row-gap: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 10%);
    border-bottom: 1px solid #f5f5f5;
}
.btn{
    background-color: var(--buttons-color);
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px var(--buttons-color) solid;
    color: white;
    text-decoration: none;
}
.about-info{
    margin-bottom: 50px;
    display: flex;
}
.about-info span{
    color: gray;
}
.about-info-line{
    margin-top: 10px;
}
.about-info-right{
    margin-left: 100px;
}

/*end about*/

/*start skills*/
.my-skills{
    background-color: rgb(235, 235, 235);
    width: 100%;
    padding: 100px;
    text-align: center;
    display: inline-block;
}
.progress-bars-style{
    display: flex;
    gap: 30px;
    width: 1100px;
    margin: 50px calc(50% - 550px);
}
.right-column{
    width: 100%;
}
.left-column{
    width: 100%;
}
@media (max-width: 1150px) {
    .progress-bars-style{
        display: inline-block;
        width: 700px;
        margin: 50px calc(50% - 350px)
    }
}
@media (max-width: 800px) {
    .progress-bars-style{
        width: 500px;
        margin: 50px calc(50% - 250px)
    }
}
@media (max-width: 600px) {
    .progress-bars-style{
        width: 300px;
        margin: 50px calc(50% - 150px)
    }
}

/*end skills*/

/*start resume*/
.my-resume{
    width: 100%;
    padding: 100px;
    text-align: center;
    display: inline-block;
}
.list{
   margin-top: 100px;
   display: flex;
   justify-content: center;
   gap: 80px;
}
@media (max-width: 460px) {
   .list {
       display: inline-block;
   }
}
.list-right{
   text-align: left;
   padding-left: 24px;
   border-left: 1px solid grey;
   padding-top: 50px;
}
.list-left{
   text-align: right;
   padding-right: 24px;
   border-right: 1px solid grey;
   padding-top: 50px;
}
.list-bits{
   position: relative;
}
.list-icons{    
   border: 2px solid var(--main-title-color);
   background-color: #484848;
   position: absolute;
   top: -80px;
   border-radius: 50%;
   padding: 10px;
   color: white;
}
.list-icons-left{
   right: -45px;

}
.list-icons-right{
   left: -45px;

}

.dot{
   border: 2px solid goldenrod;
   border-radius: 50%;
   padding: 4px;
   background-color: black;
   position: absolute;
   right: -30px;
}
.dot-right{
   right: auto;
   left: -30px
}
.text-date{
   margin-bottom: 20px;
   font-size: 12px;
}
.text-info{
   margin-bottom: 5px;
   color: var(--main-title-color);
   font-weight: bold;

}
.text-location{
   margin-bottom: 50px;
   font-size: 16px;
   color: gray;

}

/*end resume*/

/*start info*/
.info-stats{
    background-image: url("../../img/client.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:inset 0 0 0 2000px rgba(12, 1, 8, 0.692);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.each-stat{
    padding: 100px 0px;
    margin: 0 10px;

}
.info-icon{
 color: var(--main-title-color);
 margin-bottom: 10px;
 font-size: 30px;
 transition: all 1s;
 
}
.info-numbers{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.info-text{
    color: gainsboro;
    font-size: 20px;
    text-transform: uppercase;

}
.info-icon:hover{
    font-size: 35px;
}
@media (max-width: 600px) {
    .info-stats {
        display: inline-block;
    }
}
/*end info*/

/*start services*/
.my-services{
    background-color: rgb(235, 235, 235);
    text-align: center;
}
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
    background-color: rgb(235, 235, 235);
    border: 1px whitesmoke solid;
}
.services > .icon {
    width: 2em;
    height: 2em;
    line-height: 2em;
    font-size: 36px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    transition: all 0.5s;
    color: var(--secondary-nav-color);
}
.services > .icon:hover {
    background-color: var(--secondary-nav-color);
    color: #fff;
}
.services > .titles {
    font-size: 20px;
}
.services > .description {
    font-size: 16px;
}
/*end services*/


/*start portfolio*/
/*end portfolio*/
/*start services*/
/*end services*/
/*start services*/
/*end services*/
/*start services*/
/*end services*/
/*start services*/
/*end services*/
